[Unit]
Description=Script to start autotag

[Service]
Type=simple
Restart=always
RestartSec=5s
User=root
WorkingDirectory=/opt/autotag
ExecStart=/opt/autotag/autotag <PATH> <REGEX>

[Install]
WantedBy=multi-user.target
